.search-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: #273584;
}

.note {
  font-size: 12px;
  font-style: italic;
  padding: 0 10px;
}

.video-container {
  height: calc(100% - 64px);
  &.searchBarOn {
    height: calc(100% - 128px);
  }
  background: linear-gradient(black, #00001b);
  .video-sidenav-content {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    .mat-drawer-inner-container {
      overflow-x: hidden;
    }
    .video-container-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: 15px 0 5px;
      .video-card {
        max-width: 250px;
        margin: 5px;
        .mat-card-title {
          font-size: 1em;
          max-height: 40px;
          overflow-y: scroll;
        }
      }
    }
  }

  .video-sidenav {
    justify-content: start;
    max-width: 260px;
  }
}

.first-toolbar, .second-toolbar {
  @media screen and (max-width: 480px) {
    height: 70px;
  }
}

.button-container-fixed {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 99;
}
